.header {
  background: white;
  border-bottom: 1px solid teal;
  margin: 0;
  padding: 1rem 5vw;
}

.title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.main {
  color: #444;
  margin: 5rem auto;
  max-width: 600px;
  width: 90vw;
}

.footer {
  color: #777;
  font-size: 0.875rem;
  margin: 0 5vw;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: inherit;
}

.footer img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}
